/* 
    Document   : global
    Created on : 21/05/2012, 09:16:11 PM
    Author     : Usuario
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/**********************************
*********** GLOBALS ***************
***********************************/

body {
    background: url(http://subtlepatterns.com/patterns/brushed_alu.png);
}

.rounded-corners-10
{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

horizontal-links {
   list-style-type: none;
}

ul.horizontal-links li{
   display: inline;
} 


.color-1 {

}

.color-2 {

}

.color-3 {

}

.color-4 {

}

.shadow {
	-moz-box-shadow: 3px 3px 3px #517b52;
	-webkit-box-shadow: 3px 3px 3px #517b52;
/*	box-shadow: 5px 5px 5px #000;*/
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#1d591f')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#1d591f');
}

/*********************************
************* TOP ****************
**********************************/


#top-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: transparent url(../images/andres3-top-menu.png) repeat-x;
    z-index: 1000;
}

#top-center-container {
    width: 900px;
    padding: 10px;
    margin: auto;
}

#top-container #logo-1 {
    width: 350px;
}

#top-separator {
    position: fixed;
    top: 66;
    left: 0;
    width: 100%;
    height: 80px;
    background: url(http://subtlepatterns.com/patterns/brushed_alu.png);
    z-index: 999;
}


/*********************************
*********** END TOP **************
**********************************/

#main-container {
    color: red;
    position: relative;
    margin: 0px auto;
    width: 900px;
    margin-top: 160px;
}


.float-right {
    float: right;
}

.float-left {
    float: left;
}

.font-color-1{
    color: white;
}
